services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: pass
      MYSQL_DATABASE: tuneup
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: backend_service
    restart: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/tuneup
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: pass
    depends_on:
      - db
    ports:
      - "5050:5050"   # host:container → backend on 5050
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend_service
    restart: always
    ports:
      - "3001:80"   # host:container → frontend on 3001
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
    driver: bridge
